*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Tema05/DemoJAXB/nbproject/private/
/Tema05/DemoJAXB/build/
/Tema05/EurekaEjbEspec/nbproject/private/
/Tema05/EurekaEjbImpl/nbproject/private/
/Tema05/EurekaEjbEspec/dist/
/Tema05/EurekaEjbEspec/build/
/Tema05/EurekaEjbImpl/build/
/Tema05/EurekaEjbImpl/dist/
/Tema05/PruebaWeb/nbproject/private/
/Tema05/PruebaWeb/build/
/Tema06/WSMate/nbproject/private/
/Tema06/WSMate/build/
/Tema06/WSMateClient/nbproject/private/
/Tema06/WSMateClient/build/
/Tema06/WSMateClient/dist/